<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="newsignup">
        <img id="Imagepopup" src="{{url_for('.static', filename='images/logo.jpg')}}" class="logoimg">
        <p class="RecipeHeader">StridingHooves</p>
        <p class="dashboarddesign">DESIGNS</p>
        <a class="logoutbtn" href="{{ url_for('dashboard') }}">Back</a>
        <a class="logoutbtn" href="{{ url_for('logout') }}">Logout</a>
    </div>
    <div class="homeheader">
        <p class="welcome">Welcome, {{ user[0].first_name }}</p>
    </div>

    <div class="postdesign">
        <div class="imagebox">
            <img id="designimg" src="{{url_for('.static', filename='images/design.1.jpg')}}" class="designimg">
            
        </div>
        <div class="postbox">
            <p class="designnum">DESIGN 1</p>
        </div>
    </div>

    <div class="postdesign">
        <div class="imagebox">
            <img id="designimg" src="{{url_for('.static', filename='images/design.2.jpg')}}" class="designimg">
            
        </div>
        <div class="postbox">
            <p class="designnum">DESIGN 2</p>
        </div>
    </div>

    <div class="postdesign">
        <div class="imagebox">
            <img id="designimg" src="{{url_for('.static', filename='images/design.3.jpg')}}" class="designimg">
            
        </div>
        <div class="postbox">
            <p class="designnum">DESIGN 3</p>
        </div>
    </div>

    <div class="postdesign">
        <div class="imagebox">
            <img id="designimg" src="{{url_for('.static', filename='images/design.4.jpg')}}" class="designimg">
            
        </div>
        <div class="postbox">
            <p class="designnum">DESIGN 4</p>
        </div>
    </div>

    <div class="postdesign">
        <div class="imagebox">
            <img id="designimg" src="{{url_for('.static', filename='images/design.5.jpg')}}" class="designimg">
            
        </div>
        <div class="postbox">
            <p class="designnum">DESIGN 5</p>
        </div>
    </div>

    <div class="postdesign">
        <div class="imagebox">
            <img id="designimg" src="{{url_for('.static', filename='images/design.6.jpg')}}" class="designimg">
            
        </div>
        <div class="postbox">
            <p class="designnum">DESIGN 6</p>
        </div>
    </div>

    <div class="postdesign">
        <div class="imagebox">
            <img id="designimg" src="{{url_for('.static', filename='images/design.7.jpg')}}" class="designimg">
            
        </div>
        <div class="postbox">
            <p class="designnum">DESIGN 7</p>
        </div>
    </div>

    <div class="postdesign">
        <div class="imagebox">
            <img id="designimg" src="{{url_for('.static', filename='images/design.8.jpg')}}" class="designimg">
            
        </div>
        <div class="postbox">
            <p class="designnum">DESIGN 8</p>
        </div>
    </div>

    <div class="postdesign">
        <div class="imagebox">
            <img id="designimg" src="{{url_for('.static', filename='images/design.9.jpg')}}" class="designimg">
            
        </div>
        <div class="postbox">
            <p class="designnum">DESIGN 9</p>
        </div>
    </div>

    <div class="postdesign">
        <div class="imagebox">
            <img id="designimg" src="{{url_for('.static', filename='images/design.10.jpg')}}" class="designimg">
            
        </div>
        <div class="postbox">
            <p class="designnum">DESIGN 10</p>
        </div>
    </div>

        <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>